<script src="{{ path }}assets/jquery/jquery.js"></script>
<script src="{{ path }}assets/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ path }}assets/bootstrap/js/transition.js"></script>
<script src="{{ path }}assets/bootstrap/js/collapse.js"></script>
</body>
</html>