{% extends "v_base.twig" %}


{% block contenu %}
    <div class="row">
        <fieldset>
            <legend>Confirmation de suppression:</legend>
            <p>
                Type n°{{ type_commercant.id_type }}<br />
                Nom : {{ type_commercant.noms }}<br />
            </p>
            <form action="{{ url('typesCommercants.supprimer', {'id':type_commercant.id_type}) }}" method="post">
                <input type="hidden" id="_method" name="_method" value="delete" />
                <input class="btn btn-danger" type="submit" value="Supprimer" name="suppression" />
            </form>
            <form action="{{ path }}index.php/typeCommercant/listeTypeCommercant/" method="post">
                <input class="btn btn-warning" type="submit" value="Annuler" name="annulation" />
            </form>
        </fieldset>
    </div>
{% endblock %}